appnope==0.1.0
backcall==0.1.0
certifi==2019.3.9
chardet==3.0.4
decorator==4.3.0
defusedxml==0.5.0
Django==2.2.13
django-allauth==0.39.1
django-cors-headers==2.5.0
django-extensions==2.1.6
django-rest-auth==0.9.3
djangorestframework==3.9.2
gunicorn==19.9.0
idna==2.8
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.1
oauthlib==3.0.1
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.7
psycopg2-binary==2.7.7
ptyprocess==0.6.0
Pygments==2.3.0
python3-openid==3.1.0
pytz==2018.9
requests==2.21.0
requests-oauthlib==1.2.0
six==1.12.0
traitlets==4.3.2
urllib3==1.24.1
virtualenv==16.1.0
wcwidth==0.1.7
whitenoise==4.1.2
